
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/Master_LayoutPage.cshtml";
}

<h2>Course</h2>
<main id="main" class="main">
<div class="card  " >
    <div class="card-body "  id="DivForm"  >
        <form class="row g-3" action="/Admin/Course" method="post">
            <input type="hidden" class="form-control" id="id" name="id">

            
            <div class="col-8">
                <label for="inputNanme4" class="form-label">Add_Course </label>
                <input type="text" class="form-control" id="addcourse" name="add_coures">
            </div>

            <div class="col-8">
                <label for="inputNanme4" class="form-label">Duration</label>
                <input type="month" class="form-control" id="start"
                       min="2018-03" value="2018-05" name="duration">
            </div>
            <div class="col-8">
                <label for="inputNanme4" class="form-label">Fees</label>
                <input type="number" min="0" max="10000" step="1" name="fees" class="form-control" id="broker_fees" required="required">
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary"  onclick="Delete()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
    </main>
<main id="main" class="main">
<div class="card">
    <div class="card-body  ">

        <div class="col-lg-12">




            <h5 class="card-title"></h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>add_coures</th>
                        <th>duration</th>
                        <th>fees</th>
                      <th>Edit</th>
                      <th>Delete</th>

                    </tr>
                </thead>
                <tbody id="tblCourse">
                </tbody>
            </table>


        </div>

    </div>
</div>

    </main>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetAll();
    })
    function GetAll() {
        $.ajax({
            url: '/Admin/GetAllc',
            type: "GET",
            success: function (data) {
                $('#tblCourse').html('');
                $(data).each(function (i, item) {
                    $('#tblCourse').append('<tr><th>' + (i + 1) + '</th><th>' + item.add_coures + '</th><th>' + item.duration + '</th><th>' + item.fees + '</th><th><a  onclick="Edit(' + item.id + ')"><button>Edit</button></a></th><th><a  onclick="Delete(' + item.id + ')"><button>Delete</button></a></th></tr>');
                })

            },
            error: function () {
                alert("error");
            }
        });
    }

    function Edit(id) {
       
        $.ajax({
            url: '/Admin/Editc',
            type: 'POST',
            data: { Id: id },
            success: function (data) {
                $('#id').val(data.id);
                $('#addcourse').val(data.add_coures);
                $('#start').val(data.duration);
                $('#broker_fees').val(data.fees);


                $('#ddltype').focus();
            },
            error: function () {
                
                alert("error");
            }
        });
        }

        function Delete(id) {
            $.ajax({
                url: '/Admin/Deletec',
                type: 'POST',
                data: { Id: id },
                success: function (data) {
                    alert("deleted");
                },
                error: function () {

                    alert("error");
                }
            });
        }



</script>
