
@{
    ViewBag.Title = "Student_Approvel";
    Layout = "~/Views/Shared/Master_LayoutPage.cshtml";
}

<h2>Student_Approvel</h2>


<main id="main" class="main">
<div class="card">
    <div class="card-body">

        <div class="col-lg-12">




            <h5 class="card-title"></h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>

                        <th>dob</th>
                        <th>course_name</th>
                        <th>religion</th>
                        <th>aadhar_NO</th>
                        <th>whats_no_self</th>
                        <th>email</th>
                        <th>refid</th>
                        <th>Institute_id</th>
                       
                        
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody id="tblStudent">
                </tbody>
            </table>


        </div>

    </div>
</div>
   </main>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetAll();
    })
    //function UnApprove(id) {
    //    var url = "/Home/UpdateApprovel";
    //    $.ajax({
    //        type: "POST",
    //        url: url,
    //        data: { Id: id },
    //        success: function (flag) {
    //            if (flag == true) {
    //                alert("Un-Approved Sucessfully....");
    //                location.reload();
    //            }
    //        },
    //        error: function () {
    //            alert("Un-Approved Failed....");
    //        }

    //    })
    //}

    function Approve(id) {
        var url = "/Admin/Student_Approvelbyid";
        $.ajax({
            type: "POST",
            url: url,
            data: { Id: id },
            success: function (flag) {
                if (flag == true) {
                    alert("Approved Sucessfully....");
                    location.reload();
                }
            },
            error: function () {
                alert("Approved Failed....");
            }

        })
    }

    //    function UnApprove(id) {
    //    var url = "/Admin/Student_UnApprovel";
    //    $.ajax({
    //       type: "POST",
    //      url: url,
    //        data: { Id: id },
    //       success: function (flag) {
    //            if (flag == true) {
    //                alert("Un-Approved Sucessfully....");
    //                location.reload();
    //            }
    //        },
    //        error: function () {
    //            alert("Un-Approved Failed....");
    //        }

    //    })
    //}





    function GetAll() {
        $.ajax({
            url: '/Admin/GetAll_Approvel_Waiting_Student',
            type: "GET",
            success: function (data) {
                $('#tblStudent').html('');
                $(data).each(function (i, item) {
                    // var datee = new Date(parseInt(item.dob.substr(6)));
                    // datee.toDateString()
                    $('#tblStudent').append('<tr><th>' + (i + 1) + '</th><th>' + item.name + '</th><th>' + data.dob + '</th><th>' + item.course_name + '</th><th>' + item.institute_id + '</th><th>' + item.aadhar_NO + '</th><th>' + item.whats_no_self + '</th><th>' + item.email + '</th><th>' + item.refid + '</th><th>' + item.isOnline + '</th></a></th><th><a  onclick="Approve(' + item.id + ')"><button>Waitin For Approvel</button></a></th><th><a  onclick="UnApprove(' + item.id + ')"><button>UnApprove</button></a></th></tr>');

                       @{
                                @*var data = dt.Rows[i]["isapprove"].ToString();
                                if (data == "1")
                                {
                                    <td style="color:green;"><b>Approved</b></td>

                                    <td><button style="background-color:#e96060;color:black"><a style="text-decoration:none" onclick="UnApprove(@dt.Rows[i]["id"])"><span type="button">UnApproved</span></a></button></td>
                                }
                                else
                                {
                                    <td style="color:red;"><b>Un-Approved</b></td>
                                    <td><button style="background-color:forestgreen;color:black"><a style="text-decoration:none" onclick="Approve(@dt.Rows[i]["id"])"><span type="button">Approved</span></a></button></td>
                                }*@
                            }


                })

            },
            error: function () {
                alert("error");
            }
        });
    }

</script>
