
@{
    ViewBag.Title = "Exam_Question";
    Layout = "~/Views/Shared/Inst_LayoutPage1.cshtml";
}



<main id="main" class="main">
    <div class="card bg-secondary-light">
        
        <div class="card-body">
            <h2 class="card-title">Exam_Question</h2>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Sr.no</th>
                        <td>Exam Id</td>
                        <td>Question No</td>
                        <td>Question</td>
                        <td>Option1</td>
                        <td>Option2</td>
                        <td>Option3</td>
                        <td>Option4</td>
                        <td>Answer</td>

                    </tr>
                </thead>
                <tbody id="tblScore">
                </tbody>
            </table>

        </div>
    </div>
</main>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        GetAll();
    })

    function GetAll() {
        $.ajax({
            url: '/Institute/GetAll_Question',
            type: "GET",
            success: function (data) {
                $('#tblScore').html('');
                $(data).each(function (i, item) {

                    $('#tblScore').append('<tr><th>' + (i + 1) + '</th><th>' + item.Exam_id + '</th><th>' + item.Question_NO + '</th><th>' + item.Question + '</th><th>' + item.Opction1 + '</th><th>' + item.Opction2 + '</th><th>' + item.Opction3 + '</th><th>' + item.Opction4 + '</th><th>' + item.Answer + '</th></tr>');
                })


            },
            error: function () {
                alert("error get all");
            }
        });
    }




</script>