
@{
    ViewBag.Title = "Student_Dashboard";
    Layout = "~/Views/Shared/Master_LayoutPage.cshtml";
}

<h2>Dashboard</h2>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Institute</h5>




        <div class="col-md-4">
            <label for="inputEmail5" class="form-label">Mobile:</label>
            <input type="number" class="form-control" id="Mobile" name="mobile">
        </div>
    </div>

</div>
